pyjanitor==0.24.0
matplotlib
missingno==0.5.1
numpy
pandas
pandas-flavor==0.5.0
pandas-profiling
seaborn
session-info==1.0.0
ipywidgets==8.0.4
ozon3
pyreadr==0.4.7
upsetplot==0.8.0
nhanes==0.5.1
statsmodels
fancyimpute
scikit-learn
ydata-profiling
